<section class="brown-text text-lighten-5">
  <div class="row">
    <h3 id="portable-insulated" class="center-align"><b><i>Insulated Portable BBQ Smokers</i></b></h3>
    <p>This is the upgraded model of our portable BBQ Smokers.<br>
    The first thing you will notice is the rectangular grill section as opposed to the cylindrical grill section.<br>
    Most Portable BBQ Smoker fabricators use pipe to build their smokers therefore their smokers have to be round.<br>
    Because of our fabricating methods, we can look for the shape that best accommodates the bbquer's needs.</p>
    <p>Some of the features of this upgraded BBQ Smoker are the following:</p>
    <p><i class="greyred tiny material-icons">label</i> It comes in either FULLY INSULATED or single wall option.</p>
    <p><i class="greyred tiny material-icons">label</i> It is built using all new materials and 1/4" steel plate (or thicker)</p>
    <p><i class="greyred tiny material-icons">label</i> Rectangular BBQ Smokers are bigger than cylindrical BBQ Smokers.</p>
    <p><i class="greyred tiny material-icons">label</i> All the cooking grates have the same width.</p>
    <p><i class="greyred tiny material-icons">label</i> Bigger grate area.</p>
    <p><i class="greyred tiny material-icons">label</i> The grill section is taller in the rectangular unit than in the cylindrical unit.</p> 
    <p><i class="greyred tiny material-icons">label</i> The lids open left and right instead of having to lift them</p>
    <p><i class="greyred tiny material-icons">label</i> The top of the grill section can be used as a huge warm (or hot) surface</p>
    <p><i class="greyred tiny material-icons">label</i> FULLY INSULATED BBQ SMOKERS (WE HAVE TO SAY THIS TWICE)</p>
    <p><a ui-sref="insulated" ng-click="scrollTo('insulated')">Why a fully insulated BBQ smoker???</a></p>
    <p>All insulated BBQ smokers have tandem axles.  This makes for a very smooth ride.</p>
    <!-- Ecomm -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>TS30X156RI: 30" BBQ SMOKER INSULATED, BASE PRICE: $14,900.00</b></h5>
      <h5 class="card-title brown-text text-lighten-5"><b>TS30X156R:  30" BBQ SMOKER SINGLE WALL,  BASE PRICE: $8,900.00</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <a rel="ts30x156_portable_bbq_smoker_R" class="swipebox" title='TS30X156RI: 30" BBQ SMOKER INSULATED, BASE PRICE: $14,900.00 --- TS30X156R: 30" BBQ SMOKER SINGLE WALL, BASE PRICE: $8,900.00' href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_6.jpg">
            <img />
          </a>
        </div>
        <div class="card-content">
          <p>The BBQ smoker above has the following accessories: Slide out grills, double burners, log starter kit<br>
          The base price does not include any accessories</p>
        </div>
        <div class="card-action">
          <ul class="collapsible" data-collapsible="expandable">
            <li>
              <div class="collapsible-header"><a><i class="material-icons">photo_library</i>More Photos</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <a rel="ts30x156_portable_bbq_smoker_R" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_1.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="ts30x156_portable_bbq_smoker_R" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_2.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="ts30x156_portable_bbq_smoker_R" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_15.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>As you can see in this BBQ smoker the doors open left and right.  This eliminates the need to lift lids which makes it safer and easier to handle</p>
                <div class="box">
                  <div class="boxInner">
                    <a rel="ts30x156_portable_bbq_smoker_R" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_3.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="ts30x156_portable_bbq_smoker_R" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_7.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="ts30x156_portable_bbq_smoker_R" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_4.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>Because this BBQ smoker is rectangular we build the grill section around 36" tall vs 30" with a cylinder. This gives you more clearance between the shelves and between the top shelf and the top of the grill section. Another benefit of this smoker is that all 3 grates have the same width.  This gives you more cooking area compared to a cylindrical section because the cylinder becomes narrower as we move to the top.</p>
                <div class="box">
                  <div class="boxInner">
                    <a rel="ts30x156_portable_bbq_smoker_R" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_8.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="ts30x156_portable_bbq_smoker_R" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_9.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="ts30x156_portable_bbq_smoker_R" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_10.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>The cooking grate of this slide out BBQ grill cranks up and down.  It can be placed in any position and allow for the lid to be closed.  This is a terrific feature if you are grilling some thick cuts or chicken</p>
                <div class="box">
                  <div class="boxInner">
                    <a rel="ts30x156_portable_bbq_smoker_R" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_11.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="ts30x156_portable_bbq_smoker_R" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_13.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="ts30x156_portable_bbq_smoker_R" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_14.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>While you can control the air intake from the front of the grill it is very easy to tend to the fire from the back</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>TS24X132RI: 24"  BBQ SMOKER INSULATED, BASE PRICE $8,800.00</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <a rel="TS24X132RI" class="swipebox" title='TS24X132RI: 24"  BBQ SMOKER INSULATED, BASE PRICE $8,800.00' href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/TS24X132RI-slide_out_grill-dble_burner/croped/c.JPG">
            <img />
          </a>
        </div>
        <div class="card-content">
          <p>The BBQ smoker above has the following accessories: Slide out grills, double burners, log starter kit<br>
          The base price does not include any accessories</p>
        </div>
        <div class="card-action">
          <ul class="collapsible" data-collapsible="expandable">
            <li>
              <div class="collapsible-header"><a><i class="material-icons">photo_library</i>More Photos</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/TS24X132RI-slide_out_grill-dble_burner/croped/a.JPG">
                    <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/TS24X132RI-slide_out_grill-dble_burner/croped/m.JPG">
                    <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_insulated_portable_/insulated_portable_bbq_smoker_ts24x132_3.jpg">
                    <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_insulated_portable_/insulated_portable_bbq_smoker_ts24x132_5.jpg">
                    <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_insulated_tandem_chrome/insulated_portable_smoker_chrome_ts24x132_9.jpg">
                    <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_insulated_portable_/insulated_portable_bbq_smoker_ts24x132_9.jpg">
                    <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_insulated_portable_/insulated_portable_bbq_smoker_ts24x132_11.jpg">
                    <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_insulated_portable_/insulated_portable_bbq_smoker_ts24x132_10.jpg">
                    <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_insulated_portable_/insulated_portable_bbq_smoker_ts24x132_12.jpg">
                    <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_insulated_portable_/insulated_portable_bbq_smoker_ts24x132_16.jpg">
                    <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_insulated_portable_/insulated_portable_bbq_smoker_ts24x132_17.jpg">
                    <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_insulated_portable_/insulated_portable_bbq_smoker_ts24x132_18.jpg">
                    <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_insulated_tandem_chrome/insulated_portable_smoker_chrome_ts24x132_3.jpg">
                    <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_insulated_tandem_chrome/insulated_portable_smoker_chrome_ts24x132_4.jpg">
                    <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_insulated_tandem_chrome/insulated_portable_smoker_chrome_ts24x132_6.jpg">
                    <img />
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>TS24X132R:  24"  BBQ SMOKER SINGLE WALL,  BASE PRICE $5,450.00</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <a rel="TS24X132R" class="swipebox" title='TS24X132R:  24"  BBQ SMOKER SINGLE WALL,  BASE PRICE $5,450.00' href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_portable_bbq_smoker_R/PORTABLE_BBQ_SMOKER_24L_1.jpg">
            <img />
          </a>
        </div>
        <div class="card-action">
          <ul class="collapsible" data-collapsible="expandable">
            <li>
              <div class="collapsible-header"><a><i class="material-icons">photo_library</i>More Photos</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132R" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_portable_bbq_smoker_R/PORTABLE_BBQ_SMOKER_24L_5.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X132R" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts24x132_portable_bbq_smoker_R/PORTABLE_BBQ_SMOKER_24L_3.jpg">
                      <img />
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>TS24X104RI:  24" BBQ SMOKER INSULATED,      PRICE $8,200.00</b></h5>
      <h5 class="card-title brown-text text-lighten-5"><b>TS24X104R:  24" BBQ SMOKER SINGLE WALL,PRICE $4,900.00</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <a rel="TS24X104RI" class="swipebox" title='TS24X104RI:  24" BBQ SMOKER INSULATED,      PRICE $8,200.00 --- TS24X104R:  24" BBQ SMOKER SINGLE WALL,PRICE $4,900.00' href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/TS24X104_portable_bbq_smoker_R/portable_bbq_smoker_ts24x104_R_2.jpg">
            <img />
          </a>
        </div>
        <div class="card-action">
          <ul class="collapsible" data-collapsible="expandable">
            <li>
              <div class="collapsible-header"><a><i class="material-icons">photo_library</i>More Photos</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X104RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/TS24X104_portable_bbq_smoker_R/portable_bbq_smoker_ts24x104_R_1.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="TS24X104RI" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/TS24X104_portable_bbq_smoker_R/portable_bbq_smoker_ts24x104_R_3.jpg">
                      <img />
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>ACCESSORIES</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-action">
          <ul class="collapsible" data-collapsible="expandable">
            <li>
              <div class="collapsible-header"><a>Sink Kit: $2,600.00</a></div>
              <div class="collapsible-body wrap">
                <p>This sink has the capacity to give you 45 gallons of clean water and then to store the water you use so that you may dispose of it properly.  It will also give you hot or cold water on demand.<br>
                The sink kit contains: one 45 gallon clean water tank, one 45 gallon gray water tank, one propane powered water heater, one pressure sensitive water pump, two sinks, drain valve and plumbing.<br>
                These photos are of a 30" portable BBQ smoker that has the following: sink kit, slide out BBQ grill, double burner, log starter kit, elec. brakes, chrome wheels and aluminum fenders.</p>
                <div class="box">
                  <div class="boxInner">
                    <a rel="sink-kit" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_1.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="sink-kit" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_2.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="sink-kit" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_5.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="sink-kit" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_4.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="sink-kit" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_3.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="sink-kit" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_6.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="sink-kit" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_7.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="sink-kit" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_8.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>Here you see the inside of the sink kit, the gray water tank the heater the pump and plumbing. The last photo shows the drain valve.</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><a>Slide out BBQ Grill $1,200.00</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <a rel="SlideOutBBQGrill" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_8.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="SlideOutBBQGrill" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_9.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="SlideOutBBQGrill" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_10.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>The cooking grate of this slide out BBQ grill cranks up and down.  It can be placed in any position and allow for the lid to be closed.  This is a terrific feature if you are grilling some thick cuts or chicken.</p>
                <div class="box">
                  <div class="boxInner">
                    <a rel="SlideOutBBQGrill" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_11.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="SlideOutBBQGrill" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_13.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="SlideOutBBQGrill" class="swipebox" href="http://bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_14.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>While you can control the air intake from the front of the grill it is very easy to tend to the fire from the back.</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><a>Log Start up kit $390.00</a></div>
              <div class="collapsible-body wrap">
                <p>The log starter kit is a very useful tool to start your fire.  It works with a low pressure burner that can start the fire or aid you to cook.</p>
                <div class="box">
                  <div class="boxInner">
                    <a rel="LogStart" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/log_startup_kit/gas_line1.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="LogStart" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/log_startup_kit/gas_line_2.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="LogStart" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/log_startup_kit/gas_line_3.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>The double burner shown here is not part of the log starter kit but it will show you how we divide the gas line so that with one gas bottle you can run the stove and the log lighter.  The bottle is connected to the gas line on the front of the trailer.</p>
                <div class="box">
                  <div class="boxInner">
                    <a rel="LogStart" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/log_startup_kit/gas_line_4.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="LogStart" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/log_startup_kit/gas_line_5.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="LogStart" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/log_startup_kit/gas_line_6.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>The low pressure burner is placed inside the firebox to start the fire.  Afterwards you can turn off the burner or use it to aid you to cook </p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><a>Tuning plates: $250.00</a></div>
              <div class="collapsible-body wrap">
                <p>The tuning plates in the BBQ smokers help distribute the hot air from the fire box, and allow the smoker to have an even cooking temperature.<br>
                The hot air exits the firebox towards the cooking chambers and travels below the baffle and tuning plates. It is therefore forced to move towards the vertical section and the smokestacks. Now that we have the hot air traveling on a "chamber" we can release it, by sliding open the tuning plates, where it is cooler and heat up that spot.  This way we can tune the smoker for an even temperature.</p>
                <div class="box">
                  <div class="boxInner">
                    <a rel="tuning_plates" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/tuning_plates/portable_smoker_c_tuning-plates_3.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="tuning_plates" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/tuning_plates/portable_smoker_c_tuning-plates_2.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="tuning_plates" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/tuning_plates/portable_smoker_c_tuning-plates_1.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>The photo on the left shows the lid next to the firebox. It shows the baffle (the inclined steel plate) followed by the tuning plates. The center photo shows several spaced tuning plates. The photo on the right shows the angle iron rail where the tuning plates rest upon and the bolts that are used to tighten the plates into place.</p>
                <div class="box">
                  <div class="boxInner">
                    <a rel="tuning_plates" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/tuning_plates/portable_smoker_r_tuning-plates_1.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="tuning_plates" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/tuning_plates/portable_smoker_r_tuning-plates_2.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>These tuning plates are on a rectangular smoker. The last photo shows the plates going into the vertical section.</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><a>Propane Double Burner: $245.00</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <a rel="double_burner" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/double_burner/insulated_portable_bbq_smoker_ts24x132_8.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="double_burner" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/double_burner/insulated_portable_bbq_smoker_ts24x132_6.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>The double burner is basically a small stove.  It has 2 low pressure cast iron burners.  Low pressure burners can act like your kitchen stove.  You can set the burners very low to cook some eggs in the morning or really high to boil water.</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><a>Adjustable height grates (like your home oven): $150.00</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <a rel="adjustable_height_gratesadjustable_height_gratesadjustable_height_grates" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/adjustable_height_grates/insulated_portable_smoker_chrome_ts24x132_9.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>The photos of the adjustable grates were taken from this smoker </p>
                <div class="box">
                  <div class="boxInner">
                    <a rel="adjustable_height_gratesadjustable_height_gratesadjustable_height_grates" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/adjustable_height_grates/insulated_portable_smoker_chrome_ts24x132_13.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="adjustable_height_gratesadjustable_height_grates" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/adjustable_height_grates/insulated_portable_smoker_chrome_ts24x132_16.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="adjustable_height_gratesadjustable_height_grates" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/adjustable_height_grates/insulated_portable_smoker_chrome_ts24x132_18.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>The photo to the left is of the left door. It shows the openings to the vertical section and the permanent angle iron guides for the adjustable height grates.<br>
                The center and right photos are of the right door. The center one is in the lower position and the right shows the bottom grate one level up.</p>
                <div class="box">
                  <div class="boxInner">
                    <a rel="adjustable_height_grates" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/adjustable_height_grates/insulated_portable_smoker_chrome_ts24x132_21.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="adjustable_height_grates" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/adjustable_height_grates/insulated_portable_smoker_chrome_ts24x132_20.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="adjustable_height_grates" class="swipebox" href="http://bbquepits.com/images/ACCESSORIES/adjustable_height_grates/insulated_portable_smoker_chrome_ts24x132_15.jpg">
                      <img />
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>All the photos here are of the right door. The bottom grates is two levels up.</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header no-body">Spare tire: $120.00</div>
            </li>
            <li>
              <div class="collapsible-header no-body">Temp. gages: $35.00</div>
            </li>
            <li>
              <div class="collapsible-header no-body">Back table: $275.00</div>
            </li>
            <li>
              <div class="collapsible-header"><a>1/2" Firebox</a></div>
              <div class="collapsible-body">
                <p>20" smokers: $350.00<br>
                24" smokers: $450.00<br>
                30" smokers: $680.00<br>
                36" smokers: $1,000.00</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><a>Insulated Firebox</a></div>
              <div class="collapsible-body">
                <p>20" smokers: $  450.00<br>
                24" smokers: $  500.00<br>
                30" smokers: $  850.00<br>
                36" smokers: $1,220.00</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
    <div class="clearfix"></div>
    <p class="center-align">Any BBQ Smokers you like? <a ng-click="scrollTo('contact-us')">Contact us!</a></p>
  </div>
</section>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
    $("a").has("img").each(function(){
      $(this).find("img").attr("src", $(this).attr("href"));
    });
    $('.swipebox').swipebox({
      removeBarsOnMobile : false, // false will show top bar on mobile devices
      hideBarsDelay : -Infinity, // delay before hiding bars on desktop
      videoMaxWidth : 1140, // videos max width
      loopAtEnd: true // true will return to the first image after the last image is reached
    });
    window.scrollTo(0,0);
  });
</script>