<section class="brown-text text-lighten-5">
  <div class="row">
    <h3 id="backyard-pits" class="center-align"><b><i>Backyard BBQ Pits</i></b></h3>
    <p>We have two styles of back yard BBQ pits, <a ui-sref="products.backyard-pits" ng-click="scrollTo('all-american-pits')">All American</a> and <a ui-sref="products.backyard-pits" ng-click="scrollTo('old-country-pits')">Old Country</a>. They both produce great tasting barbeque with less effort than ordinary BBQ pits.<br>
    Our BBQ pits are designed to reduce hot and cold spots within the cooking chamber, to retain the heat, prevent smoke from leaking, have a long life and, basically, aid you to barbeque.</p>
  </div>
  <div class="divider"></div>

  <div class="row">
    <h3 id="all-american-pits" class="center-align"><b><i>All American BBQ Pits</i></b></h3>
    <p>They have an excellent heat retention capacity. They have a big firebox baffle and the smoke stack is placed in the center of the grill section this helps to reduce the cold and hot spots in the grill section. The fire box has a fire grate designed to promote air flow and sliding cooking grate.</p>
    <!-- Ecomm -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>All American BBQ Pit</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <a rel="all-american-pits" class="swipebox" title='All American BBQ Pit' href="http://bbquepits.com/images/backyard_BBQ_smokers/BBQ_smokers_AA/BBQ_smoker_AA20X60-closed.jpg">
            <img class="product-img" />
          </a>
        </div>
        <div class="card-content">
          <p><b>20" All American BBQ Pit</b><br>
          Firebox: 20" wide x 20" long<br>
          Grill Section: 20" diameter x 36" long with an upper grate<br>
          <b>Price $1,060.00</b></p>
          <br>
          <div class="divider"></div>
          <br>
          <p><b>16" All American BBQ Pit</b><br>
          Firebox: 16" wide x 18" long<br>
          Grill Section: 16" diameter x 30" long<br>
          <b>Price $760.00</b></p>
          <!-- http://bbquepits.com/images/bbq-smoker-photos/patio-island.jpg -->
        </div>
        <div class="card-action">
          <ul class="collapsible" data-collapsible="expandable">
            <li>
              <div class="collapsible-header"><a><i class="material-icons">photo_library</i>More Photos</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <a rel="all-american-pits" class="swipebox" href="http://bbquepits.com/images/bbq-smoker-photos/patio-island.jpg">
                      <img class="product-img" />
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
  </div>
  <div class="divider"></div>

  <div class="row">
    <h3 id="old-country-pits" class="center-align"><b><i>Old Country BBQ Pits</i></b></h3>
    <p>These classic style bbq pits are built with <b>1/4" thick steel plate</b>. They have an all welded construction. They have an excellent heat retention capacity. They have a big firebox baffle and the smoke stack is placed in the center of the grill section this helps to reduce the cold and hot spots in the grill section. They come with framed slide out grills, stainless steel spring handles, folding table, adjustable air intake and adjustable smoke stack. The fire box has a fire grate designed to promote air flow and sliding cooking grate.</p>
    <!-- Ecomm -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>Old Country BBQ Pit</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <a rel="old-country-pits" class="swipebox" title='Old Country BBQ Pit' href="http://bbquepits.com/images/backyard_BBQ_smokers/BBQ_smokers_OC/2-OC20X48-closed.jpg">
            <img class="product-img" />
          </a>
        </div>
        <div class="card-content">
          <p><b>20" Old Country BBQ Pit</b><br>
          Firebox: 20" diameter x 18" long<br>
          Grill Section: 20" diameter x 30" long with an upper grate<br>
          <b>Price $900.00</b></p>
          <br>
          <div class="divider"></div>
          <br>
          <p><b>16" Old Country BBQ Pit</b><br>
          Firebox: 16" diameter x 18" long<br>
          Grill Section: 16" diameter x 30" long<br>
          <b>Price $700.00</b></p>
        </div>
      </div>
    </div>
    <!-- /card -->
    <div class="clearfix"></div>
    <p class="center-align">Questions regarding the BBQ pits? <a ng-click="scrollTo('contact-us')">contact us!</a></p>
  </div>




</section>
<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
    $("a").has(".product-img").each(function(){
      $(this).find(".product-img").attr("src", $(this).attr("href"));
    });
    $('.swipebox').swipebox({
      removeBarsOnMobile : false, // false will show top bar on mobile devices
      hideBarsDelay : -Infinity, // delay before hiding bars on desktop
      videoMaxWidth : 1140, // videos max width
      afterOpen: null, // called after opening
      loopAtEnd: true // true will return to the first image after the last image is reached
    });
    window.scrollTo(0,0);
  });
</script>