<section class="brown-text text-lighten-5">
	<div class="row">
    <h3 id="outdoor-fire-pits" class="center-align"><b><i>Outdoor Open Fire Pits</i></b></h3>
    <p>For many, many years people in Texas and Northern Mexico have gathered around camp fires. Whether they are camping, hunting, fishing or spending time with friends and family, there is something special about a camp fire that bonds people like few other things can.</p>
    <p>Traditionally the instrument of choice for a safe campfire is the outdoor fire pit also known as an outdoor fireplace. They have come in many shapes and sizes. Today one of the most popular types is the Old Country style of outdoor fire pits. There are many companies selling this style of fire pit and with good reason. This is a proven design that works.</p>
    <p>The Old Country Outdoor Fire Pits (or outdoor fireplaces) currently come in two styles; the <a ui-sref="products.backyard-open-fire-pits" ng-click="scrollTo('extended-fire-pit')">Extended Grill Fire Pit</a> and the <a ui-sref="products.backyard-open-fire-pits" ng-click="scrollTo('double-grill-fire-pit')">Double Grill Fire Pit</a>.</p>
    <p>Both pits have the following features in common:</p>
		<p><i class="greyred tiny material-icons">label</i> Leg extensions to bring them to waist height.</p>
		<p><i class="greyred tiny material-icons">label</i> Expanded metal grill for barbequing</p>
		<p><i class="greyred tiny material-icons">label</i> Angle Iron frame for the expanded metal grill</p>
		<p><i class="greyred tiny material-icons">label</i> Swivel grill</p>
		<p><i class="greyred tiny material-icons">label</i> Stainless steel handle</p>
		<p><i class="greyred tiny material-icons">label</i> Minimum of 3/16" thick steel</p>
		<p><i class="greyred tiny material-icons">label</i> Hand Made</p>
		<p>There is another feature these fire pits share: Compared with other fire pits, the Old Country pits give you the biggest bang for the buck.</p>
  </div>
  <div class="divider"></div>

  <div class="row">
    <h3 id="extended-fire-pit" class="center-align"><b><i>Extended Grill Outdoor Fire Pit</i></b></h3>
    <p>This fire pit comes with a ring of expanded metal around it, it works great for setting stuff on it or to rest and warm your boots any cold night.</p>
    <!-- Ecomm -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>Extended Grill Outdoor Fire Pit</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <a rel="extended-fire-pit" class="swipebox" title="Extended Grill Outdoor Fire Pit" href="http://bbquepits.com/images/fire-pits-alfa/fire-pit-extra-grill/alto-cerrado-1.jpg">
            <img class="product-img" />
          </a>
        </div>
        <div class="card-content">
          <table>
            <thead>
              <tr>
                  <th>FIRE PIT DIAMETER</th>
                  <th>RING DIAMETER</th>
                  <th>PRICE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>24"</td>
                <td>36"</td>
                <td>$289.00</td>
              </tr>
              <tr>
                <td>28"</td>
                <td>40"</td>
                <td>$360.00</td>
              </tr>
              <tr>
                <td>30"</td>
                <td>42"</td>
                <td>$400.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <ul class="collapsible" data-collapsible="expandable">
            <li>
              <div class="collapsible-header"><a><i class="material-icons">photo_library</i>More Photos</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <a rel="extended-fire-pit" class="swipebox" href="http://bbquepits.com/images/fire-pits-alfa/fire-pit-extra-grill/bajo-perfil.jpg">
                      <img class="product-img" />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="extended-fire-pit" class="swipebox" href="http://bbquepits.com/images/fire-pits-alfa/fire-pit-extra-grill/alto-cerrado-2.jpg">
                      <img class="product-img" />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="extended-fire-pit" class="swipebox" href="http://bbquepits.com/images/fire-pits-alfa/fire-pit-extra-grill/bajo-cerrado-1.jpg">
                      <img class="product-img" />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="extended-fire-pit" class="swipebox" href="http://bbquepits.com/images/fire-pits-alfa/fire-pit-extra-grill/bajo-cerrado-2.jpg">
                      <img class="product-img" />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="extended-fire-pit" class="swipebox" href="http://bbquepits.com/images/fire-pits-alfa/fire-pit-extra-grill/bajo-abierto.jpg">
                      <img class="product-img" />
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
  </div>
  <div class="divider"></div>

  <div class="row">
    <h3 id="double-grill-fire-pit" class="center-align"><b><i>Double Grill Outdoor Fire Pit</i></b></h3>
    <p>This fire pit has a second grill on it. It is half the the regular grill and can be used to warm your tortillas or keep anything from getting cold.</p>
    <!-- Ecomm -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>Double Grill Outdoor Fire Pit</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <a rel="double-grill-fire-pit" class="swipebox" title="Double Grill Outdoor Fire Pit" href="http://bbquepits.com/images/fire-pits-alfa/fire-pit-half-grill/30-fire-pit-tall-open.JPG">
            <img class="product-img" />
          </a>
        </div>
        <div class="card-content">
          <table>
            <thead>
              <tr>
                  <th>FIRE PIT DIAMETER</th>
                  <th>PRICE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>24"</td>
                <td>$279.00</td>
              </tr>
              <tr>
                <td>28"</td>
                <td>$350.00</td>
              </tr>
              <tr>
                <td>30"</td>
                <td>$380.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <ul class="collapsible" data-collapsible="expandable">
            <li>
              <div class="collapsible-header"><a><i class="material-icons">photo_library</i>More Photos</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <a rel="double-grill-fire-pit" class="swipebox" href="http://bbquepits.com/images/fire-pits-alfa/fire-pit-half-grill/30-fire-pit-tall-closed.JPG">
                      <img class="product-img" />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="double-grill-fire-pit" class="swipebox" href="http://bbquepits.com/images/fire-pits-alfa/fire-pit-half-grill/30-fire-pit-low-cerrado.JPG">
                      <img class="product-img" />
                    </a>
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <a rel="double-grill-fire-pit" class="swipebox" href="http://bbquepits.com/images/fire-pits-alfa/fire-pit-half-grill/30-fire-pit-low-abierto.JPG">
                      <img class="product-img" />
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
    <div class="clearfix"></div>
    <p class="center-align">Saw a fire pit you like? <a ng-click="scrollTo('contact-us')">contact us!</a></p>
  </div>



</section>
<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
    $("a").has(".product-img").each(function(){
      $(this).find(".product-img").attr("src", $(this).attr("href"));
    });
    $('.swipebox').swipebox({
      removeBarsOnMobile : false, // false will show top bar on mobile devices
      hideBarsDelay : -Infinity, // delay before hiding bars on desktop
      videoMaxWidth : 1140, // videos max width
      afterOpen: null, // called after opening
      loopAtEnd: true // true will return to the first image after the last image is reached
    });
    window.scrollTo(0,0);
  });
</script>