<section class="brown-text text-lighten-5">
  <div class="row">
    <h3 id="backyard-grills" class="center-align"><b><i>Backyard BBQ Grills</i></b></h3>
    <p>We have two styles of back yard BBQ grills, <a ui-sref="products.backyard-grills" ng-click="scrollTo('all-american-grills')">All American</a> and <a ui-sref="products.backyard-grills" ng-click="scrollTo('old-country-grills')">Old Country</a>. They both produce great tasting barbeque with less effort than ordinary BBQ grills.</p>
  </div>
  <!-- Ecomm -->
  <div class="divider"></div>

  <div class="row">
    <h3 id="all-american-grills" class="center-align"><b><i>All American BBQ Grills</i></b></h3>
    <p>This BBQ grill is made of 3/16" steel plate and all welded together.<br>
	It comes with a fire grate, a framed slide out cooking grill and an extra upper sliding grill. It also has the smoke stack placed in the center for better a heat distribution. With its wheels and casters it is easy to move and with the folding table it uses less space for storage. If what you want to do is BBQ grill this is an excellent piece of equipment.</p>
    <!-- Ecomm -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>20" All American BBQ Grill </b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <img class="materialboxed" data-caption='20" All American BBQ Grill ' src="http://bbquepits.com/images/backyard_BBQ_smokers/BBQ_smokers_AA/AAG20X28.jpg">
        </div>
        <div class="card-content">
          <p><b>20" All American BBQ Grill </b><br>
          20" diameter x 30" long with an extra upper sliding grate<br>
          <b>Price $620.00</b></p>
        </div>
      </div>
    </div>
    <!-- /card -->
  </div>
  <div class="divider"></div>

  <div class="row">
    <h3 id="old-country-grills" class="center-align"><b><i>Old Country BBQ Grills</i></b></h3>
    <p>This BBQ grill is made of 1/4" steel plate and all welded together.<br>
		It comes with a fire grate, a framed slide out cooking grill and an extra upper sliding grill. It also has the smoke stack placed in the center for better a heat distribution. It has 2 big steel wheels that make it easy to move on uneven surfaces and with the folding table it uses less space for storage.<br>
		If what you want to do is BBQ grill this is the best equipment.</p>
    <!-- Ecomm -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>Old Country BBQ Grill</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <img class="materialboxed" data-caption='Old Country BBQ Grill' src="http://bbquepits.com/images/backyard_BBQ_smokers/BBQ_smokers_OC/2-OCG20X30-CLOSED.jpg">
        </div>
        <div class="card-content">
          <p><b>20" Old Country BBQ Grill</b><br>
					20" diameter x 30" long with an extra upper sliding grate<br>
					<b>Price: $490.00</b></p>
          <br>
          <div class="divider"></div>
          <br>
          <p><b>16" Old Country BBQ Grill</b><br>
					16" diameter x 30" long<br>
					<b>Price: $420.00</b></p>
        </div>
      </div>
    </div>
    <!-- /card -->
  </div>
  <div class="divider"></div>

  <div class="row">
    <h3 id="old-country-camper-grills" class="center-align"><b><i>Old Country Camper BBQ Grills</i></b></h3>
    <p>These BBQ grills are great units, they fit almost anywhere are made with 1/4" thick steel and cook great. Also they can be attached to your pickup hitch for tailgating.</p>
    <!-- Ecomm -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>Old Country Camper BBQ Grill</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <img class="materialboxed" data-caption='Old Country Camper BBQ Grill' src="http://bbquepits.com/images/backyard_BBQ_smokers/BBQ_smokers_OC/2-OCC20X28.jpg">
        </div>
        <div class="card-content">
          <p><b>20" Old Country Camper BBQ Grill</b><br>
					20" diameter x 26" long with an extra upper sliding grate<br>
					<b>Price: $410.00</b></p>
          <br>
          <div class="divider"></div>
          <br>
          <p><b>16" Old Country Camper BBQ Grill</b><br>
					16" diameter x 26" long<br>
					<b>Price: $360.00</b></p>
        </div>
      </div>
    </div>
    <!-- /card -->
    <div class="clearfix"></div>
    <p class="center-align">Questions regarding the BBQ grills? <a ng-click="scrollTo('contact-us')">contact us!</a></p>
  </div>



</section>
<script>
  $(document).ready(function(){
  	$('.materialboxed').materialbox();
    $('.collapsible').collapsible();
    window.scrollTo(0,0);
  });
</script>