/* font-family: 'Ultra', serif; */

.brand-logo.left {
	font-family: 'Ultra', serif;
	color: red;
}

@media screen and (max-width: 767px) {
	.brand-logo.left {
		font-size: 1.4rem;
	}
}

@media screen and (min-width: 767px) {
	.brand-logo.left {
		padding-left: 1rem;
	}
}