/* font-family: 'Ultra', serif; */

.brand-logo.left {
	font-family: 'Ultra', serif;
	color: red;
	text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);
	/*background: linear-gradient(grey, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
}

@media screen and (max-width: 767px) {
	.brand-logo.left {
		font-size: 1.4rem;
	}
}

@media screen and (min-width: 767px) {
	.brand-logo.left {
		padding-left: 1rem;
	}
}