body { 
  /*background: url('background.jpg') no-repeat center center fixed*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.9) 100%), url('background.jpg');
}

h5, h6, p, li, a {
	font-family: 'Oxygen', sans-serif;
}

.exclaim {
	color: #efebe9;
}

a {
	color: #e65100 !important;
}

.dropdown-content li>a {
	font-size: 1rem !important;
}

.nav-wrapper {
	position: fixed;
}

.brand-logo.left {
	font-family: 'Ultra', serif;
	/*color: red;
	text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);*/
	background: linear-gradient(grey, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media screen and (max-width: 767px) {
	.brand-logo.left {
		font-size: 1.4rem;
	}
}

@media screen and (min-width: 767px) {
	.brand-logo.left {
		padding-left: 1rem;
	}
}

