<main id="home" class="container">
  <div class="row">
    <!-- Portable -->
    <div class="col s12 m6">
      <!-- Desktop and Tablet -->
      <div class="card medium hide-on-med-and-down brown lighten-5">
        <div class="card-image valign-wrapper">
          <a ui-sref="products.portable" ng-click="scrollTo('portable')"><img class="valign" src="http://www.bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_6.jpg"></a>
        </div>
        <div class="card-content">
          <h5><a ui-sref="products.portable" ng-click="scrollTo('portable')" class="brown-text lighten-2">Portable Trailer BBQ Pits</a></h5>
        </div>
        <div class="card-action">
          <a ui-sref="products.portable" ng-click="scrollTo('portable')">Learn more <i class="small material-icons">info</i></a>
        </div>
      </div>
      <!-- Phones -->
      <div class="card small hide-on-large-only brown lighten-5">
        <div class="card-image valign-wrapper">
          <a ui-sref="products.portable" ng-click="scrollTo('portable')"><img class="valign" src="http://www.bbquepits.com/images/PORTABLE_TRAILER_BBQ_SMOKERS_R/ts30x156_portable_bbq_smoker_R/ts30x156_portable_bbq_smoker_R_6.jpg"></a>
        </div>
        <div class="card-content">
          <h6><a ui-sref="products.portable" ng-click="scrollTo('portable')" class="brown-text lighten-2">Portable Trailer BBQ Pits</a></h6>
        </div>
        <div class="card-action">
          <a ui-sref="products.portable" ng-click="scrollTo('portable')">Learn more <i class="small material-icons">info</i></a>
        </div>
      </div>
    </div>
    <!-- Backyard -->
    <div class="col s12 m6">
      <!-- Desktop and Tablet -->
      <div class="card medium hide-on-med-and-down brown lighten-5">
        <div class="card-image valign-wrapper">
          <a ui-sref="products.backyard" ng-click="scrollTo('backyard')"><img class="valign" src="http://bbquepits.com/images/backyard_BBQ_smokers/BBQ_smokers_OC/2-OC20X48-closed.jpg"></a>
        </div>
        <div class="card-content">
          <h5><a ui-sref="products.backyard" ng-click="scrollTo('backyard')" class="brown-text lighten-2">Backyard BBQ Pits and Smokers</a></h5>
        </div>
        <div class="card-action">
          <a ui-sref="products.backyard" ng-click="scrollTo('backyard')">Learn more <i class="small material-icons">info</i></a>
        </div>
      </div>
      <!-- Phones -->
      <div class="card small hide-on-large-only brown lighten-5">
        <div class="card-image valign-wrapper">
          <a ui-sref="products.backyard" ng-click="scrollTo('backyard')"><img class="valign" src="http://bbquepits.com/images/backyard_BBQ_smokers/BBQ_smokers_OC/2-OC20X48-closed.jpg"></a>
        </div>
        <div class="card-content">
          <h6><a ui-sref="products.backyard" ng-click="scrollTo('backyard')" class="brown-text lighten-2">Backyard BBQ Pits and Smokers</a></h6>
        </div>
        <div class="card-action">
          <a ui-sref="products.backyard" ng-click="scrollTo('backyard')">Learn more <i class="small material-icons">info</i></a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <h3 class="brown-text text-lighten-5 center-align"><b><i>BBQ Smokers from Old Country BBQ Pits!!!</i></b></h3>
    <div class="brown-text text-lighten-5">
	    <p class="center-align"><i class="tiny material-icons">grade</i> <a href="#lowprice">Why are our BBQ Pits priced so low???</a> <i class="tiny material-icons">grade</i> <a ui-sref="products.portable" ng-click="scrollTo('portable-smokers')">New BBQ Smokers......BIG!!!</a> <i class="tiny material-icons">grade</i> <a ui-sref="products.portable" ng-click="scrollTo('portable-grills')">New BBQ Grill.....Introductory Low Price!!!</a> <i class="tiny material-icons">grade</i></p>

	    <p>Here we hand craft the best deals on <a ui-sref="products.portable" ng-click="scrollTo('portable-smokers')">BBQ Smokers</a>, <a href="#">BBQ Pits</a>, <a href="#">BBQ Grills</a>, <a href="#">Outdoor Fire Pits</a> and more, we make them portable or for backyard use.</p>

	    <p>We build them, just like they were built in the old days, with hard work and pride.</p>

	    <p>Hand crafted, by artisans, these BBQ smokers are some of the "cleanest" BBQ pits sold today. Most of the welding is polished or hidden from sight so you get beautiful, heavy duty, BBQ pits that will last you a life time.</p>

	    <p>Our BBQ pits start from steel plate that artisans roll, bend, weld and pound into shape to form a BBQ pit. Because of the way these BBQ smokers are made, from steel plate not pipe, you can be sure that no used materials of any kind went into the making of these BBQ pits. You pay good money to get an all new, 1/4" thick smooth looking BBQ pit that will hold the cooking temperature, reduce babysitting and help you cook great BBQ. With Old Country BBQ Pits that is what you get.</p>

	    <p>There are many guys out there making BBQ pits, and portable smokers, some are good, some are bad and some just ruin it for everybody. So, why should you give us your business? Because our pits work the way you expect them to work! You will not have to sit next to it to barbeque. We have the best prices on <b><i>premium BBQ smokers</i></b> because of our better fabricating system. So, if you compare these pits with others on taste of your BBQ, on time management, on the construction of the BBQ pits, on the dollars invested and, any other way... this is by far the best deal today.</p>

	    <p>Our line of BBQ pits and smokers are among the thickest and finest that you will find on the market and if you are looking for a custom job, we can do it for you.</p>

	    <p>These are great BBQ pits, and for the money, they are the best!</p>

	    <p>Take a look around, you will like what you see!</p>

	    <h5 class="center-align"><a ui-sref="insulated" ng-click="scrollTo('insulated')">Insulated BBQ Smokers???!!! Why??? Warning! Science Content... good to know!!!</a></h5>
      <h4 class="center-align">Comments or questions? <a href="#contact-us">Contact us!</a></h4>
    </div>
  </div>
  <div class="divider"></div>

  <div id="about-us" class="row">
    <h3 class="brown-text text-lighten-5 center-align"><b><i>Old Country BBQ Pits was born in 1955</i></b></h3>
    <div class="brown-text text-lighten-5">
      <p>Since then we have manufactured high quality products ranging from cattle handling equipment to pressure vessels to BBQ grills. It is by making quality products and taking care of our customers that we have stayed in business for  50 years and with your continued support another 50 more.</p>

      <p>This is our shop, our BBQ smokers and BBQ grills, as well as every thing else we sell, is made here including the fire pits which we press ourselves.  The shop has over 18,000 sq feet of fabricating space it also has the machinery to shear, roll, bend , weld, polish, press etc. we can roll a 1.25" thick  by 12 feet long steel plate to form a cylinder for your BBQ q smokers.  Nobody ever goes that thick but it can be done and regarding the diameter, any is good for us.  This ability to take steel plate, not pipe, and turn it into any pit is one of the advantages that allows us  to offer you great prices and still be able to ensure high quality.</p>

      <p>If you have any questions or comments please <a href="#contact-us">contact us.</a></p>
    </div>
  </div>
  <div class="divider"></div>

  <div id="delivery-info" class="row">
    <h3 class="brown-text text-lighten-5 center-align"><b><i>BBQ PITS DELIVERY</i></b></h3>
    <div class="brown-text text-lighten-5">
      <p>Please allow 2 to 4 weeks for fabrication.</p>

      <p>The reason is that as soon as you place your order we make your pit. It takes a little while to make your pit and make sure that it is of the highest quality.</p>

      <p>Many times we have the BBQ Pit you want in stock. When that is the case we will ship it to you right away.</p>

      <p>The backyard BBQ Grills or the Fire Pits can be  shipped via consolidated freight such as central freight lines or many others, please let us know which item you are interested on so that we can find out the shipping cost.</p>

      <p>The portable BBQ smokers are somewhat different, most clients drive here to pick them up.</p>

      <p>Call us to place your order: <a href="tel:9562866389">(956) 286-6389</a></p>
    </div>
  </div>
  <div class="divider"></div>

  <div id="comments" class="row">
    <h3 class="brown-text text-lighten-5 center-align"><b><i>Comments on our BBQ Smokers!!!</i></b></h3>
    <div class="brown-text text-lighten-5">
      <p>We believe that our smokers are a great product and that their prices are unbeatable. Every person involved in fabricating your smokers takes a lot of pride in their work and we are always thinking of ways we can make it cook better or build it more efficiently to save you money.</p>

      <p>We have sold many smokers and grills to dealers as well as to the end users. Our users range from beginners to seasoned barbequers and until now everybody has been very happy with the performance and the look of their smokers.</p>

      <p>Some of our clients have been kind enough to let us know how much they like their smoker. Here are some of their comments.</p>

      <p>These first two are our favorites (because we are talking magic pits).</p>
    </div>
    <div class="row brown-text text-lighten-5"><i>
      <div class="orange-dotted"></div>
      <div>
        <p>Alex, Sorry for the lack of communication, We have been very busy.  Again I want to thank you for all your help and I want to let you know that I love this pit. Attached you will find a letter for recommendation and again if any one in this area would like to come and look at it, just give them my phone number and I will show them how great it is.   I am curious as to whether you would be interested in building one with a 36" barrel and no box on the front but around the same length, not for this year but looking in to next year.</p>
        <p>Thanks so much again,</p>
        <p>Lonnie Taylor</p>
      </div>
      <div class="orange-dotted"></div>
      <div>
        <p>Dear Alex,</p>
        <p>As I’m sure you remember that we took delivery of one of your Triple Lid Smokers in May 2006.  Since that time I have had the pleasure of working with this pit and want to tell you how pleased I am with it.</p>
        <p>You have thought out this pit well, I am impressed with the small details that make it such fun.   I have cooked at several events and whether its ribs, chicken, brisket or any thing else I put in it; it seems to come out perfect.  My youngest daughter says its a magic pit because it always tastes great.</p>
        <p>I would highly recommend you and your products to anyone looking to buy a good smoker.   Again thank you for all your hard work and support through the construction and delivery process.</p>
        <p>A Very Satisfied Customer,</p>
        <p>Lonnie Taylor</p>
      </div>
      <div class="orange-dotted"></div>
      <div>
        <p>Alejandro,<p>

        <p>We liked the grill so much that we need another one of the larger grills we ordered. I believe it was the 24” smoker with tuning plates, spare tire, and temp gauge - (TS24X132). What price can you give me? Not sure if we will need it delivered, but please let me know what it would cost to deliver to Houston and then to also have it delivered to Many. That was very convenient! Please let me know so that we can proceed with the order.</p>

        <p>Tori Flynn<br>
        AVP Marketing<br>
        Peoples State Bank</p>
      </div>
      <div class="orange-dotted"></div>
      <div>
        <p>Mr. Santos, Thank you very much for making me a pit, I just love it, My  friends and family see the gleam in my eyes and are happy for me... the pit is well made and I can see it will last a long life.<br>
        Again thank you and I will send some friends when they want a pit too.</p>

        <p>Tu amigo forever<br>
        Mr. Xevior Mota<br> 
        Austin, Texas</p>
      </div>
      <div class="orange-dotted"></div>
      <div>
        <p>Alejandro,<br>
        My team took first place in the ribs category at our last competition. If there is anything I can send you or anything like that to aid in your sales I will be happy to do so.<br>
        Thank you very much.<br>
        Scott Hein</p>
      </div>
    </div></i>

    <div class="divider"></div>
    <div class="row">
      <div class="brown-text text-lighten-5">
        <p>Thank you for taking the time to visit our web site.  It is very likely that by now, you have some comments or questions about our <b>BBQ Smokers.</b> Please send them over and we will be happy to reply.</p>
      </div>
    </div>
  </div>
</main>


<!-- Modal Structure -->
<div id="lowprice" class="modal">
  <div class="modal-content">
    <h4>Why the low price?</h4>

    <p>It is a question we get often.  People are used to paying more for high end portable smokers and wonder how we can build our pits and sell them so low.</p>

    <p>These are some of the things we do that help keep costs down.</p>

    <p><b><i class="greyred tiny material-icons">label</i> Materials:</b> We build your pits with steel plate. We do not use pipe. The plate we shear and roll to form any diameter cylinder. The plate saves money in two ways.  It costs less than pipe and it also is reduces our inventory costs, since we do not need to stock all different sizes of plate. It also eliminates the temptation of sneaking  in used pipe every now and then.... you can't buy used plate to build a smoker.</p>

    <p><b><i class="greyred tiny material-icons">label</i> Manufacturing:</b> Having one welder build the entire smoker is very nice but, someone has to pay for all the waste in time and resources. That someone is you.<br>
    At Old Country the smokers are build by teams or artisans who have many years of metal working experience. Some artisans build the different components of the smokers while others welded them together.<br>
    It is over simplified here but the philosophy is to take all the care possible to build a great smoker without throwing away resources.</p>

    <p><b><i class="greyred tiny material-icons">label</i> Purchasing:</b> Purchasing the materials is just as important as selling the bbq pits. We purchase the materials in bulk to reduce their cost and also we buy many of the components directly from the manufacturers.</p>

    <p><b><i class="greyred tiny material-icons">label</i> Location:</b> Old Country BBQ Pits is based in Laredo Texas. This allows us to have the manufacturing facilities in Mexico. By fabricating in Mexico with a combination of American materials and Mexican labor the cost of fabricating the smokers is reduced tremendously.</p>

    <p><b><i class="greyred tiny material-icons">label</i> Margin:</b> We enjoy healthy sales and we do not need to make all our profit from the one pit you buy. Just like buying in volume reduces our costs our sales level reduces our need to charge more per smoker.</p>

    <p>So, it is not one thing that we do but, a combination of many elements that help us produce at lower costs and pass those savings on to you.</p>
  </div>
</div>

<script>
  $(document).ready(function(){

    $('.modal').modal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      in_duration: 300, // Transition in duration
      out_duration: 200 // Transition out duration
      // starting_top: '80%', // Starting top style attribute
      // ending_top: '10%'
    });

  });
</script>