<section id="portable" class="brown-text text-lighten-5">
  <div class="row">
    <h3 id="portable-smokers" class="center-align"><b><i>Portable BBQ Smokers</i></b></h3>
    <p>This style of portable BBQ smokers, is the most popular style used today. The reason for this popularity is our  proven design, which has been around for many, many, years.  We at old country BBQ pits make our portable BBQ smokers with 1/4" thick steel plate,  3500# axle and brand new wheels and trailer parts.  Everything that goes into our pits is new, never used in any capacity.</p>

    <p>These pits have great features some of them are: Slide out grills, Framed grills, 1 1/4" threaded pipe drain, Stainless steel spring handles, adjustable air intake and smoke stacks, polished welds for a cleaner looking pit, framed wood basket with plenty of storage capacity, 2" bulldog ball coupler, adjustable grills on firebox, stay on the center wood rack protects the firebox and the wood burns better, 1.5" door flange, water thermos/ lpg bottle holder, 3/16" thick vertical section, light kit & wiring installed, spare tire ready, ready to go, firebox has a lifetime warranty against burnout.</p>

    <p>These BBQ smokers are our regular production smokers, custom jobs are always welcome. Any diameter any size!</p>
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>TS36X168: 36" BBQ SMOKER,  PRICE $11,200.00</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <img class="materialboxed" data-caption='TS36X168: 36" BBQ SMOKER,  PRICE $11,200.00' src="http://www.bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoker_front1.jpg">
        </div>
        <div class="card-content">
          <p>Lids: 2<br>
          Diameter: 36"<br>
          Length of:<br>
          Firebox: 36"<br>
          Grill section: 96"<br>
          Vertical section: 36"<br>
          Vertical section height: 59"<br>
          Weight: 3980 Lbs<br>
          Tongue weight: 300lbs</p>
        </div>
        <div class="card-action">
          <a href="http://bbquepits.com/BBQ_SMOKERS_ACCESORIES/36_BBQ_SMOKER.xls">Accessories Loaded Price</a>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><a><i class="material-icons">photo_library</i>More Photos</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoke_front2.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoker_hitch.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoker_angle_f.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoker_back_anglef.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoker_back.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoker_back_angle_r.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoker_back_firebox.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoker_open_a.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoker_open_grill.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoker_open_grill_2%20025.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoker_vertical.jpg" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>TS30X156: 30" BBQ SMOKER,   PRICE $8,900.00</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <img class="materialboxed" data-caption='S30X156: 30" BBQ SMOKER,   PRICE $8,900.00' src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/lake%20009.jpg">
        </div>
        <div class="card-content">
          <p>Lids: 2<br>
          Diameter: 30"<br>
          Length of:<br>
          Firebox: 30"<br>
          Grill section: 96"<br>
          Vertical section: 56"<br>
          Vertical section height: 59"<br>
          Base unit weight: 3200 Lbs</p>
          <p>Base smoker includes: Tuning plates & counter weights.<br>
          Portable smoker shown above has the following accessories: Chrome wheels & fenders, red trailer, double burners, temp. gages, insulated firebox and a log startup kit.</p>
          <br>
          <p>Click on <b>"More Photos"</b> below to see additional options and accessories.</p>
        </div>
        <div class="card-action">
          <a href="http://bbquepits.com/BBQ_SMOKERS_ACCESORIES/30_BBQ_SMOKER.xls">Excel file with prices</a>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><a><i class="material-icons">photo_library</i>More Photos</a></div>
              <div class="collapsible-body wrap">
                <div class="clearfix"></div>
                <p><b>This smoker has the following accessories:</b><br>
                Chromed wheels<br>
                Aluminum fenders<br>
                Crank up BBQ grill<br>
                A low pressure double burner<br>
                Sink system ( hot & cold water, tanks, pump, etc.)<br>
                Wood starter kit that can also cook<br>
                Gas line<br>
                Temperature gages<br>
                Lid on storage basket<br>
                Electric brakes</p>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_smoker_sinks/BOTONES/portable_bbq_smoker_sinks_30_01.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_smoker_sinks/BOTONES/portable_bbq_smoker_sinks_30_02.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_smoker_sinks/BOTONES/portable_bbq_smoker_sinks_30_05.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_smoker_sinks/BOTONES/portable_bbq_smoker_sinks_30_07.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_smoker_sinks/BOTONES/portable_bbq_smoker_sinks_30_12.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_smoker_sinks/portable_bbq_smoker_sinks_30_15.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_smoker_sinks/portable_bbq_smoker_sinks_30_22.jpg" />
                  </div>
                </div>
                <div class="clearfix"></div>
                <p><b>This smoker has the following accessories:</b><br>
                Chromed wheels<br>
                Aluminum fenders<br>
                A low pressure double burner<br>
                Gas line<br>
                Wood starter kit that can also cook<br>
                Insulated firebox<br>
                Drain ball valve<br>
                Temperature gages<br>
                Custom paint job</p>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/BOTONES/lake%20009.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/BOTONES/lake%20016.jpg" />
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>The low pressure burners work just like your gas stove at home. They can be set very low and cook a couple of eggs or very high and fry a turkey.</p>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/BOTONES/front.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/BOTONES/double_burner_5.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/BOTONES/double_burner_6.jpg" />
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>The gas line connects both the firebox and the double burner to the same propane bottle.</p>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/BOTONES/gas_line_1.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/BOTONES/gas_line_2.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/BOTONES/gas_line_4.jpg" />
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>The wood starter is a low pressure burner that is removable form the firebox and does not produce soot when you set it low to cook</p>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/BOTONES/firebox_atras.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/gas_line_3.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/firebox_log_starter.jpg" />
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>Both the firebox and the door have two inches of insulation.</p>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/BOTONES/firebox_open%20008.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/BOTONES/firebox_wall.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/BOTONES/firebox_seal.jpg" />
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>Drain ball valve </p>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_portable_bbq_smoker_chrome/BOTONES/ball_valve.jpg" />
                  </div>
                </div>
                <div class="clearfix"></div>
                <p><b>The standard unit with a custom paint job.</b></p>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_PORTABLE_BBQ_SMOKERS/BOTONES/30_BBQ_SMOKERS_FRONT1.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_PORTABLE_BBQ_SMOKERS/BOTONES/30_BBQ_SMOKERS_FRONT3.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_PORTABLE_BBQ_SMOKERS/BOTONES/30_BBQ_SMOKERS_FRONT4.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_PORTABLE_BBQ_SMOKERS/BOTONES/30_BBQ_SMOKERS_JACK.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_PORTABLE_BBQ_SMOKERS/BOTONES/30_BBQ_SMOKERS_ATRAS3.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_PORTABLE_BBQ_SMOKERS/BOTONES/30_BBQ_SMOKERS_ATRAS1.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_PORTABLE_BBQ_SMOKERS/BOTONES/30_BBQ_SMOKERS_ATRAS6.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_PORTABLE_BBQ_SMOKERS/BOTONES/30_BBQ_SMOKERS_COUNTER_WEIGHTS.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_PORTABLE_BBQ_SMOKERS/BOTONES/30_BBQ_SMOKERS_FIREBOX.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_PORTABLE_BBQ_SMOKERS/BOTONES/30_BBQ_OPEN2.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_PORTABLE_BBQ_SMOKERS/BOTONES/30_BBQ_SMOKERS_GRILL_OPEN.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/30_PORTABLE_BBQ_SMOKERS/BOTONES/30_BBQ_SMOKERS_OPEN.jpg" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>TS24X132: 24" TRIPLE LID BBQ SMOKER,  PRICE $5,090.00</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <img class="materialboxed" data-caption='TS24X132: 24" TRIPLE LID BBQ SMOKER,  PRICE $5,090.00' src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/24-SMOKERS/TS24X132.jpg">
        </div>
        <div class="card-content">
          <p>Lids: 3<br>
          Diameter: 24"<br>
          Length of:<br>
          Firebox: 24"<br>
          Grill section: 84"<br>
          Vertical section: 24"<br>
          Vertical section height: 52"</p>
        </div>
        <div class="card-action">
          <a href="http://bbquepits.com/BBQ_SMOKERS_ACCESORIES/24_TRIPLE_LID_BBQ_SMOKERS.xls">Accessories Loaded Price</a>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><a><i class="material-icons">photo_library</i>More Photos</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/24-SMOKERS/TS24X132.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/24-SMOKERS/TS24X132-open-from-angle.jpg" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>TS24X104:  24" DOUBLE LID BBQ SMOKER,   PRICE $4,570.00</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <img class="materialboxed" data-caption='TS24X104:  24" DOUBLE LID BBQ SMOKER,   PRICE $4,570.00' src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/24-SMOKERS/TS24X104-1.jpg">
        </div>
        <div class="card-content">
          <p>Lids: 2<br>
          Diameter: 24"<br>
          Length of:<br>
          Firebox: 24"<br>
          Grill section: 56"<br>
          Vertical section: 24"<br>
          Vertical section height: 48"</p>
        </div>
        <div class="card-action">
          <a href="http://bbquepits.com/BBQ_SMOKERS_ACCESORIES/24_DOUBLE_LID_BBQ_SMOKERS.xls">Accessories Loaded Price</a>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><a><i class="material-icons">photo_library</i>More Photos</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/24-SMOKERS/TS24X104-1.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/24-SMOKERS/BOTONES/B_08500006.JPG" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>TS20X100: 20" DOUBLE LID BBQ SMOKER,  PRICE $3,700.00</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <img class="materialboxed" data-caption='TS20X100: 20" DOUBLE LID BBQ SMOKER,  PRICE $3,700.00' src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/20-SMOKERS/TS20X100.jpg">
        </div>
        <div class="card-content">
          <p>Lids: 2<br>
          Diameter: 20"<br>
          Length of:<br>
          Firebox: 24"<br>
          Grill section: 56"<br>
          Vertical section: 20"<br>
          Vertical section height: 48"</p>
        </div>
        <div class="card-action">
          <a href="http://bbquepits.com/BBQ_SMOKERS_ACCESORIES/20_DOUBLE_LID_BBQ_SMOKERS.xls">Accessories Loaded Price</a>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><a><i class="material-icons">photo_library</i>More Photos</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/20-SMOKERS/TS20X100.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/20-SMOKERS/TS20X100-red-basckets-view.jpg" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>TG20X80: 20" DOUBLE LID BBQ GRILL WITH FIREBOX,  PRICE $3,450.00</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <img class="materialboxed" data-caption='TG20X80: 20" DOUBLE LID BBQ GRILL WITH FIREBOX,  PRICE $3,450.00' src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/20-GRILLS/TG20X84.jpg">
        </div>
        <div class="card-content">
          <p>Lids: 2<br>
          Diameter: 20"<br>
          Length of:<br>
          Firebox: 24"<br>
          Grill section: 56"</p>
        </div>
        <div class="card-action">
          <a href="http://bbquepits.com/BBQ_SMOKERS_ACCESORIES/20_DOUBLE_LID_BBQ_GRILLS.xls">Accessories Loaded Price</a>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><a><i class="material-icons">photo_library</i>More Photos</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/20-GRILLS/TG20X84.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/20-GRILLS/TG20X84-open.jpg" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>TG20X60: 24" SINGLE LID BBQ SMOKER,  PRICE $2,800.00</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-image">
          <img class="materialboxed" data-caption='TG20X60: 24" SINGLE LID BBQ SMOKER,  PRICE $2,800.00' src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/20-GRILLS/mini-portable-frente.JPG">
        </div>
        <div class="card-content">
          <p>Lids: 1<br>
          Diameter: 20"<br>
          Length of:<br>
          Firebox: 20"<br>
          Grill section: 40"</p>
        </div>
        <div class="card-action">
          <a href="http://bbquepits.com/BBQ_SMOKERS_ACCESORIES/20_DOUBLE_LID_BBQ_GRILLS.xls">Accessories Loaded Price</a>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><a><i class="material-icons">photo_library</i>More Photos</a></div>
              <div class="collapsible-body wrap">
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/20-GRILLS/mini-portable-frente.JPG" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/20-GRILLS/mini-portable-x-atras.JPG" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->
    <!-- card -->
    <div class="col offset-l1 l10 s12 brown-text text-lighten-2">
      <h5 class="card-title brown-text text-lighten-5"><b>ACCESSORIES</b></h5>
      <div class="card brown lighten-5 ">
        <div class="card-action">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><a>Sink Kit: $2,600.00</a></div>
              <div class="collapsible-body wrap">
                <p>This sink has the capacity to give you 45 gallons of clean water and then to store the water you use so that you may dispose of it properly.  It will also give you hot or cold water on demand.<br>
                The sink kit contains: one 45 gallon clean water tank, one 45 gallon gray water tank, one propane powered water heater, one pressure sensitive water pump, two sinks, drain valve and plumbing.<br>
                These photos are of a 30" portable BBQ smoker that has the following: sink kit, slide out BBQ grill, double burner, log starter kit, elec. brakes, chrome wheels and aluminum fenders.</p>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_1.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_2.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_5.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_4.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_3.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_6.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_7.jpg" />
                  </div>
                </div>
                <div class="box">
                  <div class="boxInner">
                    <img class="materialboxed" src="http://bbquepits.com/images/ACCESSORIES/sink-kit/portable_bbq_smoker_sink_kit_8.jpg" />
                  </div>
                </div>
                <div class="clearfix"></div>
                <p>Here you see the inside of the sink kit, the gray water tank the heater the pump and plumbing. The last photo shows the drain valve.</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><a>Slide out BBQ Grill $1,200.00</a></div>
              <div class="collapsible-body wrap">
                
              </div>
            </li>
            <li>
              <div class="collapsible-header"><a>Log Start up kit $390.00</a></div>
              <div class="collapsible-body wrap">
                
              </div>
            </li>
            <li>
              <div class="collapsible-header"><a>Tuning plates: $250.00</a></div>
              <div class="collapsible-body wrap">
                
              </div>
            </li>
            <li>
              <div class="collapsible-header"><a>Propane Double Burner: $245.00</a></div>
              <div class="collapsible-body wrap">
                
              </div>
            </li>
            <li>
              <div class="collapsible-header no-body">Spare tire: $120.00</div>
            </li>
            <li>
              <div class="collapsible-header no-body">Temp. gages: $35.00</div>
            </li>
            <li>
              <div class="collapsible-header"><a>1/2" Firebox</a></div>
              <div class="collapsible-body">
                <p>20" smokers: $350.00<br>
                24" smokers: $450.00<br>
                30" smokers: $680.00<br>
                36" smokers: $1,000.00</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><a>Insulated Firebox</a></div>
              <div class="collapsible-body">
                <p>20" smokers: $  450.00<br>
                24" smokers: $  500.00<br>
                30" smokers: $  850.00<br>
                36" smokers: $1,220.00</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><a>Insulated Grill section</a></div>
              <div class="collapsible-body">
                <p>20" smokers: contact us<br>
                24" smokers: contact us<br>
                30" smokers: contact us<br>
                36" smokers: contact us</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><a>Insulated Vertical section</a></div>
              <div class="collapsible-body">
                <p>20" smokers: contact us<br>
                24" smokers: contact us<br>
                30" smokers: contact us<br>
                36" smokers: contact us</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /card -->

    <div class="clearfix"></div>
    <p class="center-align">Any BBQ Smokers you like? <a ng-click="scrollTo('contact-us')">contact us!</a></p>
  </div>
  <div class="divider"></div>

  <div class="row">
    <h3 id="portable-insulated" class="center-align"><b><i>Insulated Portable BBQ Smokers</i></b></h3>
    <p>This is the upgraded model of our portable BBQ Smokers.<br>
    The first thing you will notice is the rectangular grill section as opposed to the cylindrical grill section.<br>
    Most Portable BBQ Smoker fabricators use pipe to build their smokers therefore their smokers have to be round.<br>
    Because of our fabricating methods, we can look for the shape that best accommodates the bbquer's needs.</p>
    <p>Some of the features of this upgraded BBQ Smoker are the following:</p>
    <p><i class="greyred tiny material-icons">label</i> It comes in either FULLY INSULATED or single wall option.</p>
    <p><i class="greyred tiny material-icons">label</i> It is built using all new materials and 1/4" steel plate (or thicker)</p>
    <p><i class="greyred tiny material-icons">label</i> Rectangular BBQ Smokers are bigger than cylindrical BBQ Smokers.</p>
    <p><i class="greyred tiny material-icons">label</i> All the cooking grates have the same width.</p>
    <p><i class="greyred tiny material-icons">label</i> Bigger grate area.</p>
    <p><i class="greyred tiny material-icons">label</i> The grill section is taller in the rectangular unit than in the cylindrical unit.</p> 
    <p><i class="greyred tiny material-icons">label</i> The lids open left and right instead of having to lift them</p>
    <p><i class="greyred tiny material-icons">label</i> The top of the grill section can be used as a huge warm (or hot) surface</p>
    <p><i class="greyred tiny material-icons">label</i> FULLY INSULATED BBQ SMOKERS (WE HAVE TO SAY THIS TWICE)</p>
    <p><a ui-sref="insulated" ng-click="scrollTo('insulated')">Why a fully insulated BBQ smoker???</a></p>
    <p>All insulated BBQ smokers have tandem axles.  This makes for a very smooth ride.</p>
    <!-- Ecomm -->
    <p class="center-align">Comments or questions about this BBQ Grill <a ng-click="scrollTo('contact-us')">contact us!</a></p>
  </div>
  <div class="divider"></div>

  <div class="row">
    <h3 id="portable-grills" class="center-align"><b><i>Portable BBQ Grills</i></b></h3>
    <p>This our new portable BBQ grill. This model is one of the best ones out in the market today if not the best.  The cooking grates crank up and down to allow you to control the grilling temperature. Unlike the other grill where you must open and maintain open the lids while grilling, if you want the crank up feature, with this BBQ grill the lids can be closed while grilling.</p>
    <!-- Ecomm -->
    <p class="center-align">Any BBQ Smokers you like? <a ng-click="scrollTo('contact-us')">contact us!</a></p>
  </div>
  <div class="divider"></div>
  
  <div class="row">
    <h3 id="portable-rotisseries" class="center-align"><b><i>Portable BBQ and Hog Rotisseries</i></b></h3>
    <p>Hog rotisserie & BBQ Smoker combination</p>
    <!-- Ecomm -->
    <p class="center-align">Questions regarding the Rotisseries? <a ng-click="scrollTo('contact-us')">Contact us!!</a></p>
  </div>
</section>

<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
    $('.collapsible').collapsible();
  });
</script>