<section id="portable" class="brown-text text-lighten-5">
  <div class="row">
    <h3 id="portable-smokers" class="center-align"><b><i>Portable BBQ Smokers</i></b></h3>
    <p>This style of portable BBQ smokers, is the most popular style used today. The reason for this popularity is our  proven design, which has been around for many, many, years.  We at old country BBQ pits make our portable BBQ smokers with 1/4" thick steel plate,  3500# axle and brand new wheels and trailer parts.  Everything that goes into our pits is new, never used in any capacity.</p>

    <p>These pits have great features some of them are: Slide out grills, Framed grills, 1 1/4" threaded pipe drain, Stainless steel spring handles, adjustable air intake and smoke stacks, polished welds for a cleaner looking pit, framed wood basket with plenty of storage capacity, 2" bulldog ball coupler, adjustable grills on firebox, stay on the center wood rack protects the firebox and the wood burns better, 1.5" door flange, water thermos/ lpg bottle holder, 3/16" thick vertical section, light kit & wiring installed, spare tire ready, ready to go, firebox has a lifetime warranty against burnout.</p>

    <p>These BBQ smokers are our regular production smokers, custom jobs are always welcome. Any diameter any size!</p>
    <!-- Ecomm -->
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" data-caption='TS36X168: 36" BBQ SMOKER,  PRICE $11,200.00' src="http://www.bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoker_front1.jpg">
          <span class="card-title">TS36X168: 36" BBQ SMOKER,  PRICE $11,200.00</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" data-caption='TS36X168: 36" BBQ SMOKER,  PRICE $11,200.00' src="http://www.bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoker_front1.jpg">
          <span class="card-title">TS36X168: 36" BBQ SMOKER,  PRICE $11,200.00</span>
        </div>
        <div class="card-content">
          <p></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" data-caption='TS36X168: 36" BBQ SMOKER,  PRICE $11,200.00' src="http://www.bbquepits.com/images/PORTABLE-TRAILER-BBQ-SMOKERS/TS36_portable_bbq_smokers/BOTONES/36_portable_bbq_smoker_front1.jpg">
          <span class="card-title">TS36X168: 36" BBQ SMOKER,  PRICE $11,200.00</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>


    <div class="clearfix"></div>
    <p class="center-align">Any BBQ Smokers you like? <a ng-click="scrollTo('contact-us')">contact us!</a></p>
  </div>
  <div class="divider"></div>

  <div class="row">
    <h3 id="portable-insulated" class="center-align"><b><i>Insulated Portable BBQ Smokers</i></b></h3>
    <p>This is the upgraded model of our portable BBQ Smokers.<br>
    The first thing you will notice is the rectangular grill section as opposed to the cylindrical grill section.<br>
    Most Portable BBQ Smoker fabricators use pipe to build their smokers therefore their smokers have to be round.<br>
    Because of our fabricating methods, we can look for the shape that best accommodates the bbquer's needs.</p>
    <p>Some of the features of this upgraded BBQ Smoker are the following:</p>
    <p><i class="greyred tiny material-icons">label</i> It comes in either FULLY INSULATED or single wall option.</p>
    <p><i class="greyred tiny material-icons">label</i> It is built using all new materials and 1/4" steel plate (or thicker)</p>
    <p><i class="greyred tiny material-icons">label</i> Rectangular BBQ Smokers are bigger than cylindrical BBQ Smokers.</p>
    <p><i class="greyred tiny material-icons">label</i> All the cooking grates have the same width.</p>
    <p><i class="greyred tiny material-icons">label</i> Bigger grate area.</p>
    <p><i class="greyred tiny material-icons">label</i> The grill section is taller in the rectangular unit than in the cylindrical unit.</p> 
    <p><i class="greyred tiny material-icons">label</i> The lids open left and right instead of having to lift them</p>
    <p><i class="greyred tiny material-icons">label</i> The top of the grill section can be used as a huge warm (or hot) surface</p>
    <p><i class="greyred tiny material-icons">label</i> FULLY INSULATED BBQ SMOKERS (WE HAVE TO SAY THIS TWICE)</p>
    <p><a ui-sref="insulated" ng-click="scrollTo('insulated')">Why a fully insulated BBQ smoker???</a></p>
    <p>All insulated BBQ smokers have tandem axles.  This makes for a very smooth ride.</p>
    <!-- Ecomm -->
    <p class="center-align">Comments or questions about this BBQ Grill <a ng-click="scrollTo('contact-us')">contact us!</a></p>
  </div>
  <div class="divider"></div>

  <div class="row">
    <h3 id="portable-grills" class="center-align"><b><i>Portable BBQ Grills</i></b></h3>
    <p>This our new portable BBQ grill. This model is one of the best ones out in the market today if not the best.  The cooking grates crank up and down to allow you to control the grilling temperature. Unlike the other grill where you must open and maintain open the lids while grilling, if you want the crank up feature, with this BBQ grill the lids can be closed while grilling.</p>
    <!-- Ecomm -->
    <p class="center-align">Any BBQ Smokers you like? <a ng-click="scrollTo('contact-us')">contact us!</a></p>
  </div>
  <div class="divider"></div>
  
  <div class="row">
    <h3 id="portable-rotisseries" class="center-align"><b><i>Portable BBQ and Hog Rotisseries</i></b></h3>
    <p>Hog rotisserie & BBQ Smoker combination</p>
    <!-- Ecomm -->
    <p class="center-align">Questions regarding the Rotisseries? <a ng-click="scrollTo('contact-us')">Contact us!!</a></p>
  </div>
</section>

<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>